.App {
  text-align: center;

  display:flex;
  flex-direction: column;
  align-items: center;

  
}

.App-header {
  width: 100%;
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

