.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap:2rem;


}

@media only screen and (max-width: 1500px) {
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap:2rem;
    }
}